.App {
  background-image: url("background.jpg");
  height: 84vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 5%;
}
.Grid {
  width: 600px;
  height: 600px;
  position: absolute;
  position: relative;
}
.Container {
  display: flex;
  margin: 0;
  height: auto;
  max-width: 600px;
  height: 200px;
  max-height: 200px;
}
.Container p {
  width: 33%;
  height: 100%;
  font-size: 80px;
  text-align: center;
  margin: 0;
  font-family: "Rock Salt", cursive;
  z-index: 2;
  margin-right: 40px;
}
#LineWinner {
  position: absolute;
  z-index: 1;
  top: 0;
}
.Boton-restart {
  margin-top: 60px;
  width: 100%;
  background: transparent;
  border: none;
  font-size: 50px;
  outline: none;
}
.Boton-restart:hover {
  color: red;
}
.Container-data {
  width: 400px;
  display: block;
}
.Container-data input {
  width: 50%;
  font-size: 30px;
  background: transparent;
  border: none;
  outline: none;
}
.Container-data p {
  width: 20px;
  font-size: 40px;
  margin: 0;
}
.Container-data h2 {
  font-size: 40px;
  border-bottom: 2px solid black;
}
.Container-data .Container-winner {
  display: flex;
}
.Container-Champeons{
  width: 100vw;
  height: 100vh;
  background-color: rgba(86, 110, 129, 0.884);
  position: absolute;
  top: 0;
  z-index: 4;
  font-size: 8vw;
  text-align: center;
}